{% extends 'base.html.twig' %}

{% block title %}Add new Note{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Add new note</h5>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_help(form) }}
                {{ form_rest(form) }}

                <input type="submit" value="Create Note" class="btn btn-success" />

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}