{% extends 'base.html.twig' %}

{% block title %}Add new Note{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Edit "{{ note.title }}" note</h5>
        <div class="card-body">
            <form class="row g-3" method="POST">
                <div class="col-12">
                    <label for="inputTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="inputTitle" name="title" value="{{ note.title }}" required>
                </div>

                <div class="col-12">
                    <label for="inputText" class="form-label">Text</label>
                    <textarea class="form-control" id="inputText" name="text" required>{{ note.text }}</textarea>
                </div>

                <div class="col-12">
                    <label for="inputCategory" class="form-label">Category</label>
                    <select id="inputCategory" class="form-select" name="category_id">
                        {% for category in categories %}
                            <option value="{{ category.id }}"{% if category == note.category %} selected{% endif %}>
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}